.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.list {
  list-style: none;
}

.current {
  color: var(--accent-color);
  position: relative;
}

.current::after {
  content: '';
  width: 100%;
  height: 4px;
  position: absolute;
  background-color: var(--accent-color);
  border-radius: 2px;
  left: 0;
  bottom: -32px;
}
